.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 8px;
  background: var(--widget-surface);
  padding: 8px;
  border-radius: 12px;
}

.NavBar > * {
  flex-grow: 1;
  display: flex;
}


