.Button
  border: none
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 8px 12px
  margin: 0
  gap: 8px
  background: var(--button-main)
  border-radius: 8px
  color: var(--text-main)
  transition: all 0.2s ease-in
  min-width: 96px

  > img
    height: 16px
    width: 16px

  > p
    text-transform: uppercase
    margin: 0
    font-weight: 500

  &:hover
    background: var(--button-main)
    color: var(--button-main-hover)

  &:active
    background: var(--button-main-active)
    color: var(--button-main-hover)

  &:disabled
    background: var(--button-main-disabled)
    color: var(--text-disabled)

  &.primary
    background: var(--button-primary)
    color: var(--background)

    &:hover
      background: var(--button-primary-hover)
      color: var(--background)

    &:active
      background: var(--button-primary-active)
      color: var(--text-main)

    &:disabled
      background: var(--button-primary-disabled)
      color: var(--button-main-hover)


  &.destructive
    background: var(--button-destructive)
    color: var(--text-main)

    &:hover
      background: var(--button-destructive-hover)
      color: var(--text-main)

    &:active
      background: var(--button-destructive-active)
      color: var(--text-main)

    &:disabled
      background: var(--button-destructive-disabled)
      color: var(--button-destructive-active)

  &.ghost
    background: var(--button-ghost)
    color: var(--text-sub)

    &:hover
      background: var(--button-ghost-hover)
      color: var(--button-main-hover)

    &:active
      background: var(--button-ghost-active)
      color: var(--button-main-hover)

    &:disabled
      background: transparent
      color: var(--button-ghost-disabled)
