:host {
  flex: 1 1 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  background: var(--widget-surface);
  border-radius: 8px;
  padding-left: 8px;
  height: 100%;
}

.search-bar, .search-bar > * {
  transition: all 0.2s ease-in;
}

.search-bar:hover {
  background: var(--button-main);
}

.search-bar:active {
  background: var(--widget-selected);
}

.search-bar.focused {
  box-shadow: 0 0 0 2px var(--button-primary) inset;
}

.search-bar > input {
  height: 100%;
  flex: 1 1 0;
  max-width: 164px;
  background: none;
  border: none;
  color: var(--text-main);
  padding: 8px;
}

.search-bar > input:focus {
  outline: none;
}

.search-bar > input::placeholder {
  color: var(--text-sub);
}
