@if (toastService.isVisible()) {
  <div class="toast-wrapper">
    <div class="toast-content">
      @if (toastService.type() === 'wait') {
        <img src="https://img.icons8.com/FFFFFF/sf-regular/48/cafe.png" alt="wait" width="24" height="24" />
      } @else if (toastService.type() === 'success') {
        <img src="https://img.icons8.com/FFFFFF/sf-regular/48/ok.png" alt="success" width="24" height="24" />
      }
      <span class="toast-message">{{ toastService.message() }}</span>
    </div>
  </div>
}
