.Tab {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--button-ghost);
  border-radius: 8px;
  padding: 12px;
  color: var(--text-sub);
  transition: all 0.2s ease-in;
  min-width: 128px;
  flex-grow: 1;
}
.Tab > p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.Tab.special {
  color: var(--button-primary);
}
.Tab:hover {
  background: var(--button-ghost-hover);
  color: var(--text-main);
}
.Tab:active {
  background: var(--button-ghost-active);
  color: var(--text-main);
}
.Tab.selected {
  background: var(--button-primary);
  color: var(--background);
}
.Tab.selected:hover {
  background: var(--button-primary-hover);
  color: var(--background);
}
.Tab.selected:active {
  background: var(--button-primary-active);
  color: var(--text-main);
}
