<nav class="navbar-container">
  <ul class="nav-links-left">
    @for (tab of tabs(); track tab.route) {
  <li>
    <a [routerLink]="tab.route"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          {{ tab.label }}
    </a>
  </li>
} @empty {
  <li>Aucune navigation disponible</li>
}
  </ul>

  <div class="nav-links-right">
    @if (rightButtonLabel()) {
      <button class="selected-tab"
              (click)="clickOnSelected()">
        {{ rightButtonLabel() }}
      </button>
    }
  </div>
</nav>